<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

                <!-- Primary Meta Tags -->
    <meta name="title" content="{{title}}">
    <meta name="description" content="Explore Performances, Exhibitions, Workshops, Competitions etc around you!">
    <meta name="keywords" content="zoolnearme, zoolnearme srinagar,zool,srinagar,kashmir,events,event,performance, music, events in srinagar, events in kashmir, events around me, what to do in kashmir", "what to do in srinagar","contact">

    <link rel="icon" href="/favicon_io/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">

    <link rel="stylesheet" href="/bootstrap-4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <title>{{title}}</title>

</head>
<body>
    {{>header}}
    
    <h1 style="text-align: center" class="display-5 font-weight-normal pb-3 pt-3">{{title}}</h1>

    <div class="container-fluid">
        <div class="row">
            {{#each events}}
            {{>item}}
            {{/each}}
        </div>
    <div>

    {{>footer}}
</body>
</html>