<div class="page-footer navbar-light bg-light">
    <div class="container pb-4 pl-4">
        <div class="row">
            <h3 class="text-dark pl-3 pt-5">Zool</h3>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
            <h5 class="text-dark pt-3">Events</h5>
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-item nav-link" href="/events/category/Performance">Performances</a></li>
                <li><a class="nav-item nav-link" href="/events/category/Competition">Competitions</a></li>
                <li><a class="nav-item nav-link" href="/events/category/Workshop">Workshops</a></li>
                <li><a class="nav-item nav-link" href="/events/category/Exhibition">Exhibitions</a></li>
                <li><a class="nav-item nav-link" href="/events/category/Miscellaneous">Miscellaneous</a></li>
                
            </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
            <h5 class="text-dark pt-3">Contact</h5>
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-item nav-link" href="/about">About Us</a></li>
                <li><a class="nav-item nav-link" href="/contact">Contact Us</a></li>
            </ul>
            </div>
        </div>

        <div class="footer-copyright text-center pt-3">
            © 2021 Copyright: zoolnearme
        </div>

        <div class="text-center pt-1">
            <a href="/terms.html" class="text-dark">Terms & Conditions</a> |
            <a href="/privacy.html" class="text-dark">Privacy Policy</a>
        </div>
        
    </div>
</div>