.carousel-inner {
    height: 100%;
    width: 100%
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
}

#newsletter{
    background-color: #ffff00;
}


/* Media Queries */
@media (max-width: 978px){
    .carousel-caption {
        top: 50%;
    }
}
@media (max-width: 783px){
    .carousel-caption {
        top: 45%
    }
}
@media (max-width: 576px){
    .carousel-caption {
        top: 35%;
    }
}



